{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.product.discounted_price}}</p>
        </div>
      </div>
      {% endfor %}
      <div class="border">
        <p class="fw-bold py-2 ps-3"> Total Price : <span class="pe-3" style="float: right;">{{total}}</span></p>
      </div>
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure
        optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
  
      <form action="{% url 'initiate_payment' %}">
        <!-- <input type="hidden" name="orderID" value="{{orderID}}"> -->
        <input type="hidden" name="total" value={{total}}>
        {% for cust in address %}
        <div class="card">
          <div class="card-body">
            <h5>{{cust.name}}</h5>
            <p>{{cust.locality}}, {{cust.city}},{{cust.state}}-{{cust.zipcode}}</p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="cust{{forloop.counter}}" value="{{cust.id}}" checked>
          <label class="form-check-label fw-bold" for="cust{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Proceed To Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}